In [1]:
# Import pandas as pd
import pandas as pd

In [2]:
# Create a series of three different colors
df_colours = pd.Series(["Red","Blue","Green"])

In [3]:
# View the series of different colours
df_colours

0      Red
1     Blue
2    Green
dtype: object

In [4]:
# Create a series of three different car types and view it
df_car = pd.Series(["Ford","Maruthi","BMW"])

In [5]:
# Combine the Series of cars and colours into a DataFrame
df_data = pd.DataFrame({
    "car colour":df_colours,
    "car":df_car
})
df_data

  car colour      car
0        Red     Ford
1       Blue  Maruthi
2      Green      BMW

In [6]:
# Import "../data/car-sales.csv" and turn it into a DataFrame
df = pd.read_csv("../datasets/car-sales.csv")
df

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [7]:
# Export the DataFrame you created to a .csv file
df.to_csv("car-sales.csv",index=False)

In [8]:
# Find the different datatypes of the car data DataFrame
df.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [9]:
# Describe your current car sales DataFrame using describe()
df.describe

<bound method NDFrame.describe of      Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00>

In [10]:
# Get information about your DataFrame using info()
df.info

<bound method DataFrame.info of      Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00>

In [11]:
# Create a Series of different numbers and find the mean of them
df_numbers = pd.Series([1,2,3,4,5,6,7,8,9])
df_numbers.mean()

5.0

In [12]:
# Create a Series of different numbers and find the sum of them
df_numbers = pd.Series([1,2,3,4,5,6,7,8,9])
df_numbers.sum()

45

In [18]:
# List out all the column names of the car sales DataFrame
list(df.columns.values)

['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price']